name: Release Java

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
    release:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: java
        steps:
            - uses: actions/checkout@v4

            - uses: actions/setup-java@v4
              with:
                  java-version: "11"
                  distribution: "temurin"
                  server-id: central
                  server-username: MAVEN_USERNAME
                  server-password: MAVEN_PASSWORD
                  gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
                  gpg-passphrase: GPG_PASSPHRASE

            - name: Extract version from tag
              id: version
              run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

            - name: Set version in pom.xml
              run: mvn versions:set -DnewVersion=${{ steps.version.outputs.VERSION }}

            - name: Build and test
              run: mvn clean verify

            - name: Deploy to Maven Central
              run: mvn deploy -P release -DskipTests
              env:
                  MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
                  MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
                  GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
